@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #8cc475;

    /*
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    */
}

header > p {
    font-size: 16px;
    font-weight: 500;
}

nav {
    height: 30px;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    list-style: none;
}

ul li a {
    padding: 6px 12px;
    background-color: lightgray;
    border-radius: 8px;
    border: 1px solid transparent;

    &:hover {
        background-color: #8cc475;
        border: 1px solid white;

        transition: all ease 0.2s;
    }
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;

    &:hover {
        color: #262626;
    }
}


footer {
    background-color: #040509;
    color: lightgray;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}