/* CSS PARA LOS ESTILOS DEL APARTADO DE PRACTICAS */


html {
    scroll-behavior: smooth;
}

.contenedor-practicas {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 90%;
    margin: 120px auto;
}

.contenedor-practicas > h2 {
    text-align: center;
    color: lightgray;
    scroll-margin-top: 60px;
}

.tarjeta-practica {
    display: flex;
    justify-content: space-around;
    scroll-margin-top: 100px;
}

.tarjeta-practica:nth-child(4),
.tarjeta-practica:nth-child(8),
.tarjeta-practica:nth-child(12),
.tarjeta-practica:nth-child(16) {
    display: flex;
    flex-direction: row-reverse;
}

.tarjeta-practica img:first-child {
    width: auto;
    height: 300px;
    
    &:hover {
        opacity: 80%;
        cursor: pointer;
        transition: opacity ease 0.2s;
    }
}

.contenedor-img:hover .open-image {
    opacity: 1;
}

.contenedor-img {
    position: relative;
    display: inline-block;
    height: 300px;
}

.contenedor-img:hover img:first-child {
    opacity: 0.7;
    transition: opacity 0.2s ease;
}

.contenedor-img img:first-child {
    height: 100%;
    width: auto;
    display: block;
}

.open-image {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    z-index: 5;
    pointer-events: none;
    rotate: 45deg;

    opacity: 0;
    transition: opacity 0.2s ease;
}

.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    color: lightgray;
    text-align: center;
}

/* Estilos para la flecha que sube al inicio del documento */
.btn-volver-arriba {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #8cc475;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    z-index: 2000;
    border: 2px solid white;

    /* Estado inicial: oculto */
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;

    &:hover {
        border: 2px solid #8cc475;
        transform: translateY(-5px);
    }

    /* Clase que añadiremos con JS */
    &.visible {
        opacity: 1;
        visibility: visible;
    }
}

.btn-volver-arriba img {
    width: 25px;
    height: auto;
    rotate: 0deg;
}

.contenedor {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contenedor-mapas {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
}

/* Apartado de los iframe */
.contenedor-iframe {
    width: 400px;
    overflow: hidden;
    border-radius: 8px; /* Para que coincida con el estilo de tus tarjetas */
    background: #f0f0f0; /* Color de fondo mientras carga */
}

.contenedor-practicas a {
    display: flex;
    justify-content: center;
    padding: 8px 0;
    background-color: #8cc475;
    border: 1px solid #ffffff;
    border-radius: 8px;
    text-decoration: none;
    color: #000000;
    font-size: 16px;

    &:hover {
        border: 1px solid #8cc475;
        color: white;
        transition: all ease 0.3s;
    }
}

.practica9 {
    display: flex;
    width: 500px;
    margin: auto auto;
}

iframe {
    display: block;
    width: 100%;
    height: 400px; /* Ajusta esta altura a tu gusto */
    border: none;
}


.titulo-container {
    display: flex;
    justify-content: space-around;
}

.titulo-container p {
    font-size: 18px;
    color: white;
}

.contenedor_p7 {
    display: flex;
    align-items: center;
    justify-content: center;
}